body {
    background-image: url("../afbeeldingen/veld.png");
    background-size: cover;
}

header, nav, footer, article {
    display: block;
    font-family: Trebuchet, Trebuchet MS, Verdana;
    text-align: center;
}

header, footer {
    margin-left: -8px;
    margin-right: -8px;
}

header {
    background-color: rgba(93, 75, 232, 0.386);
    padding: 5px;
}
footer {
    background-color: rgba(93, 75, 232, 0);
    padding: 5px;
    margin-top: 770px;
}

header {
    margin-top: -8px
}

nav {
    float: left;
    width: 15%;
    position: absolute;
}

.menu {
    display: block;
    width: 70px;
    background-color: #d61a1a;
    /* lichtblauw */
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: rgb(52, 2, 252);
}

.menu:hover {
    background-color: black;
    color: #ed0e0e5b;
    /* lichtblauw */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

article {
    float: right;
    width: 85%;
    margin: 10px;
    padding: 10px;
    background-color: #ff00005c;
    /* lichtblauw */
}

footer {
    clear: both
}