body {
	background-color: grey;
	}

header, aside, footer, article {
	display: block;
	font-family: Verdana, arial, sans-serif;
	}

header, footer {
	background-color: white;
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	margin-top: -8px;
	text-align: center;
	padding-top: 80px;
	color: white;
	}
	
h1 {
	font-size: 90px;
	font-family: Arial, Helvetica, sans-serif;
	}
aside {
	float: right;
	width: 20%;
	background-color: white;
	padding: 20px;
	margin-top: -30px;
	margin-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

article {
	float: left;
	width: 70%;
	margin: 10px;
	margin-left: 0px;
	padding: 10px;
	background-color: #DDDDDD;	/*lichtgrijs*/
	}
	
footer {
	clear: both;
	text-align: center;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 10px;
}
p.inleiding{
	font-style: italic;
    font-weight: bold;
}

p.citaat{
	font-style: italic;
	margin-left: 40px;
	margin-right: 40px;
}